services:
  app:
    container_name: serverless-playground-app
    build:
      context: .
      dockerfile: docker/dockerfile
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    command: air -c .air.toml
